<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Active Auctions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
</head>
<body>
<div th:replace="components/improvedHeader.html" ></div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Active Auction List</h3>
<hr>
<div th:text = "${errMessage}"></div><br>
<header th:replace="components/aucList.html"></header>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:replace="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/auctionsSorter.js}"></script>
</body>
</html>