<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Active Auction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <script th:src="@{/scripts/activeAuctionScript.js}"></script>
</head>
<body th:onload="'loadBody('+${auction.getID()}+')'">
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Auction Information</h3>
<table>
    <tr>
        <td width="10%"><b>ID</b></td>
        <td width="20%"><b>Start_time</b></td>
        <td width="15%"><b>Duration_in_minutes</b></td>
    </tr>
    <tr>
        <td width="10%" th:text="${auction.getID()}"></td>
        <td width="20%" th:text="${auction.getBeginTime()}"></td>
        <td width="15%" th:text="${auction.getMaxDuration()}"></td>
    </tr>
</table>
<hr>

<div class="layer1">
    <div id="lotTable" class="layer2left">
        <h3>Lot List</h3>
        <div>
            <table id="lotList" border="1" cellspacing="0">
                <tr>
                    <td width="5%">ID</td>
                    <td width="15%">Name</td>
                    <td width="5%">Price</td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="itemTable" class="layer2right">
        <h3>Items</h3>
        <div>
            <table id="itemList" border="1" cellspacing="0">
                <tr>
                    <td width="5%">ID</td>
                    <td width="5%">Name</td>
                    <td width="25%">Description</td>
                    <td width="10%">Owner</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="components/improvedHeader.html" ></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>