<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Item registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center">Enter item information</h3>
<form method="post" action="#" th:action="@{/saveItem}" th:object="${item}">
    <table class="w3-table">
        <tr>
            <td style="width:5%"><label th:text="Name" /></td>
            <td><input class="w3-input" type="text" minlength="3" th:field="*{name}" required></td>
        </tr>
        <tr>
            <td><label th:text="Description" /></td>
            <td><input class="w3-input" type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>