<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lot regestration</title>
</head>
<body>
<!--<style th:insert="components :: styles"></style>-->
<header th:insert="components :: header"></header>
<hr>
<h3>Enter lot information</h3>
<form method="post" action="#" th:action="@{/{id}/saveLot(id=${id})}" th:object="${lot}">
<!--    <input type="hidden" th:field="${id}" />-->
    <table>
        <tr>
            <td><label th:text="ID" /></td>
            <td><input type="text" th:field="*{ID}" /></td>
        </tr>
        <tr>
            <td><label th:text="Price" /></td>
            <td><input type="number" step="0.01" th:field="*{price}" /></td>
        </tr>
        <tr>
            <td><label th:text="Min_price" /></td>
            <td><input type="number" step="0.01" th:field="*{min_price}" /></td>
        </tr>
        <tr>
            <td><label th:text="Description" /></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
<hr>
<div th:insert="components :: backHome"></div>
<hr>
<footer th:insert="components :: footer"></footer>
</body>
</html>