<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lot registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center">Enter lot information</h3>
<p id="error" style="color: red"></p>
<form id="form" action="#" th:action="@{/{a_id}/saveLot(a_id=${a_id})}">
    <table class="w3-table">
        <tr>
            <td style="width:10%"><label th:text="Name" /></td>
            <td><input class="w3-input" name="name" type="text" minlength="3" required></td>
        </tr>
        <tr>
            <td><label th:text="Price" /></td>
            <td><input class="w3-input" name="price" id="price" type="number" step="0.01" min="0.01" max="2000000000" required></td>
        </tr>
        <tr>
            <td><label th:text="Min_price" /></td>
            <td><input class="w3-input" name="min_price" id="min_price" type="number" step="0.01" min="0.01" max="2000000000" required></td>
        </tr>
        <tr>
            <td><label th:text="Description" /></td>
            <td><input class="w3-input" name="description" type="text" /></td>
        </tr>
    </table>
    <table class="w3-table w3-theme-d2" border="1">
        <tr>
            <td class="item w3-center" style="width:5%" onclick="sortById()">ID</td>
            <td class="item w3-center" style="width:20%" onclick="sortByName()">Name</td>
            <td class="item w3-center" style="width:70%" onclick="sortByDescription()">Description</td>
            <td class="item w3-center" style="width:5%">Choose</td>
        </tr>
        <tbody>
        <tr class="itemRow" th:each="item: ${items}">
            <td class="item w3-center"  th:text="${item.getID()}"></td>
            <td class="item w3-center"  th:text="${item.getName()}"></td>
            <td class="item w3-center"  th:text="${item.getDescription()}"></td>
            <td class="item w3-center" ><input type="checkbox" name="items" th:value = "${item.getID()}"/></td>
        </tr>
    </table>
    <br>
    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Submit"/>
</form>
<script type="text/javascript">
var min_price = document.getElementById("min_price");
var price = document.getElementById("price");
var form = document.getElementById("form");

form.onsubmit = function(e){
    var somethingChosen = false;
    for(var row of document.getElementsByClassName("itemRow"))
       if(row.cells[3].children[0].checked)somethingChosen=true;
    if(Number.parseInt(min_price.value) > Number.parseInt(price.value)){
		alert("min price should be smaller than price");
		min_price.focus();
		event.preventDefault();
	}
	if(!somethingChosen){
	    alert("Please choose at least one item");
	    event.preventDefault();
	}
}
</script>
<div th:replace="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/itemsSorter.js}"></script>
</body>
</html>