<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lot list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
</head>
<body>
<div th:replace="components/improvedHeader.html" ></div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>All lots</h3>
<hr>
<!--<form action="#" th:action="@{/search}">-->
    <p><input type="search" id="searchWords" onchange="search()" name="s" minlength="3" placeholder="Search">
<!--        <input type="submit" value="Search"></p>-->
<!--</form>-->
<hr>
<div th:replace="components/allLotList.html"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:replace="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/lotsSorter.js}"></script>
</body>
</html>