<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Lot list</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center">All lots</h3>
<table class="w3-table">
    <tr>
        <td style="width:80%">
            <input class="w3-input" type="search" id="searchWords" onchange="search()" name="s" minlength="3" th:placeholder="#{allLots.searchPlace}">
        </td>
        <td style="width:10%">
            <input name="selectList" value="ch1" id="showLots" type="radio" onclick="changeTable()" checked th:text="#{allLots.otherLots}"><br>
        </td>
        <td style="width:10%">
            <input name="selectList" value="ch2" id="showMyLots" onclick="changeTable()" type="radio" th:text="#{allLots.yourSoldLots}"><br>
        </td>
    </tr>
</table>
<div th:replace="components/allLotList.html"></div>
<div th:replace="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/lotsSorter.js}"></script>
</body>
</html>