<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Auction List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
    <div th:replace="components/improvedHeader.html" ></div>
    <h3 class="w3-center" th:text="#{aucList.formTitle}"></h3>
    <div th:text = "${errMessage}"></div><br>
    <div th:replace="components/aucList.html"></div>
    <br>
    <table sec:authorize="hasRole('ADMIN')" style="w3-table">
        <tr>
            <td class="w3-theme-l3" style="width:40%"><a class="w3-btn w3-block" th:href="@{/addAuction}" th:text="#{aucList.addAuction}"></a></td>
            <td class="w3-theme-l3" style="width:40%"><a class="w3-btn w3-block" th:href="@{/deleteAuction}" th:text="#{aucList.deleteAuction}"></a></td>
        </tr>
    </table>
    <div th:replace="components/improvedFooter.html" ></div>
    <script th:src="@{/scripts/auctionsSorter.js}"></script>
</body>
</html>