<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Lot</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center">Choose lot to delete</h3>
<div th:text = "${errMessage}"></div><br>
<form id="deleteLotForm" action="#" th:action="@{/{a_id}/deleteLotPart2(a_id=${a_id})}">
    <table class="w3-table w3-theme-d2" border="1" cellspacing="0">
        <tr>
            <td class="w3-center" style="width=5%">ID</td>
            <td class="w3-center" style="width=45%">Name</td>
            <td class="w3-center" style="width=45%">Price</td>
            <td class="w3-center" style="width=5%">Chose</td>
        </tr>
        <tbody>
        <tr class="lotRow" th:each="lot: ${auction.getILots()}">
            <td class="w3-center" th:text="${lot.getID()}"></td>
            <td class="w3-center" th:text="${lot.getName()}"></td>
            <td class="w3-center" th:text="${lot.getCurrentPrice()}"></td>
            <td class="w3-center" >
                <input type="radio" th:value="${lot.getID()}" name="lot"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Submit"/>
</form>
<script type="text/javascript">
var form = document.getElementById("deleteLotForm");
form.onsubmit = function(e){
    var somethingChosen = false;
    for(var row of document.getElementsByClassName("lotRow"))
       if(row.cells[3].children[0].checked)somethingChosen=true;
	if(!somethingChosen){
	    alert("Please chose lot");
	    event.preventDefault();
	}
}
</script>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>