<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Auction</title>
</head>
<body>
<header th:insert="components :: header"></header>
<hr>
<div th:insert="components :: loggedAsAndLogout" ></div>
<hr>
<h3>Choose auction to delete</h3>
<hr>
<div th:text = "${errMessage}"></div><br>
<div th:insert="components :: aucList"></div>
<form action="#" th:action="@{/deleteAuctionPart2}">
    <table>
        <select name="auc" required>
            <option th:each="auc: ${auctions}">
                <a th:text="${auc.getID()}"></a>
            </option>
        </select>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>
<hr>
<div th:insert="components :: backToList"></div>
<div th:insert="components :: backHome"></div>
<hr>
<footer th:insert="components :: footer"></footer>
</body>
</html>