<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Delete Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center" th:text="#{delItem.formTitle}"></h3>
<div th:text = "${errMessage}"></div><br>
<form id="deleteItemForm" action="#" th:action="@{/deleteItemPart2}" method="post">
    <table class="w3-table w3-theme-d2" border="1" cellspacing="0">
        <tr>
            <td class="w3-center" style="width:5%" onclick="sortById()" th:text="#{id}"></td>
            <td class="w3-center" style="width:20%" onclick="sortByName()" th:text="#{name}"></td>
            <td class="w3-center" style="width:50%" onclick="sortByDescription()" th:text="#{description}"></td>
            <td class="w3-center" style="width:10%" onclick="sortByStatus()"  th:text="#{status}"></td>
            <td class="w3-center" style="width:10%" th:text="#{owner}"></td>
            <td class="w3-center" style="width:5%" th:text="#{choose}"></td>
        </tr>
        <tbody>
        <tr class="itemRow" th:each="item: ${items}">
            <td class="w3-center" th:text="${item.getID()}"></td>
            <td class="w3-center" th:text="${item.getName()}"></td>
            <td class="w3-center" th:text="${item.getDescription()}"></td>
            <td class="w3-center" th:text="${item.getStatus()}"></td>
            <td class="w3-center" th:text="${item.getOwner()}"></td>
            <td class="w3-center">
                <input type="radio" th:value="${item.getID()}" name="item"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input class="w3-btn w3-block w3-theme-l3" type="submit" th:value="#{submit}"/>
</form>
<script type="text/javascript">
var form = document.getElementById("deleteItemForm");
form.onsubmit = function(e){
    var somethingChosen = false;
    for(var row of document.getElementsByClassName("itemRow"))
       if(row.cells[5].children[0].checked)somethingChosen=true;
	if(!somethingChosen){
	    alert("Please chose item");
	    event.preventDefault();
	}
}
</script>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>