<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Delete Auction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center" th:text="#{delAuc.formTitle}"></h3>
<div th:text = "${errMessage}"></div><br>
<form id="deleteAuctionForm" action="#" th:action="@{/deleteAuctionPart2}" method="post">
    <table class="w3-table w3-theme-d2" border="1" cellspacing="0">
        <tr>
            <td class="w3-center" style="width:10%" id="sortId" th:text="#{id}"></td>
            <td class="w3-center" style="width:40%" id="sortTime" th:text="#{addAuc.startTime}"></td>
            <td class="w3-center" style="width:40%" id="sortDuration" th:text="#{activeAuc.duration}"></td>
            <td class="w3-center" style="width:10%" th:text="#{choose}"></td>
        </tr>
        <tbody>
        <tr class="aucRow" th:each="auc: ${auctions}">
            <td class="w3-center" th:text="${auc.getAuction().getID()}"></td>
            <td class="w3-center" th:text="${auc.getAuction().getBeginTime()}"></td>
            <td class="w3-center" th:text="${auc.getAuction().getMaxDuration()}"></td>
            <td class="w3-center">
                <input type="radio" th:value="${auc.getAuction().getID()}" name="auc"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <input class="w3-btn w3-block w3-theme-l3" type="submit" th:value="#{submit}"/>
</form>
<script type="text/javascript">
var form = document.getElementById("deleteAuctionForm");
form.onsubmit = function(e){
    var somethingChosen = false;
    for(var row of document.getElementsByClassName("aucRow"))
       if(row.cells[3].children[0].checked)somethingChosen=true;
	if(!somethingChosen){
	    alert("Please chose auction");
	    event.preventDefault();
	}
}
</script>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>