<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center">Item List</h3>
<div th:text = "${errMessage}"></div><br>
<div th:replace="components/itemList.html"></div>
<div th:replace="components/itemListButtons.html"></div>
<div th:replace="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/itemsSorter.js}"></script>
</body>
</html>