<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Item Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center" th:text="#{item.formTitle}"></h3>
<table class="w3-table w3-theme-d2">
    <tr>
        <td style="width:5%" th:text="#{id}"></td>
        <td th:text="${ID}"></td>
    </tr>
    <tr>
        <td th:text="#{name}"></td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td th:text="#{description}"></td>
        <td th:text="${description}"></td>
    </tr>
    <tr>
        <td th:text="#{status}"></td>
        <td th:text="${status}"></td>
    </tr>
    <tr>
        <td th:text="#{owner}"></td>
        <td th:text="${owner}"></td>
    </tr>
</table>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>