<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Item Information</h3>
<table>
    <tr>
        <td>ID</td>
        <td th:text="${ID}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td>Description</td>
        <td th:text="${description}"></td>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"></td>
    </tr>
    <tr>
        <td>Owner</td>
        <td th:text="${owner}"></td>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>