<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<header class="headr" th:insert="components/header.html"></header>
<div class="w3-theme-d1 w3-center">
<h3 th:text="#{login.loginTitle}"></h3>
<form action="#" th:action="@{/login}" method="post">
    <div class="w3-theme-l2" th:if="${param.error != null}">
        <p>
            Invalid username and password.
        </p>
    </div>
    <div class="w3-theme-l2" th:if="${param.logout != null}">
        <p>
            You have been logged out.
        </p>
    </div>
    <table class="w3-table" style="max-width:600px;margin:auto;">
        <tr>
            <td style="width:20%"><label th:text="#{login.username}" /></td>
            <td style="width:80%"><input class="w3-input" name="username" id="username" type="text" minlength="4" required autofocus placeholder="Username"></td>
        </tr>
        <tr>
            <td><label th:text="#{login.password}" /></td>
            <td><input class="w3-input" name="password" id="password" type="password" minlength="4" required placeholder="Password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input class="w3-btn w3-theme-l3 w3-block" type="submit" th:value="#{login.loginbtn}"/>
            </td>
        </tr>
    </table>
</form>
</div>
<hr>
<div class="w3-center">
    <b th:text="#{login.noAccount}"></b> <a class="w3-theme-l3" th:href="@{/registration}" th:text="#{login.createAccountbtn}"></a><br>
</div>
<footer class="footr" th:insert="components/footer.html"></footer>
</body>
</html>