<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<header class="headr" th:insert="components/header.html"></header>
<h3>Login Page</h3>
<form action="#" th:action="@{/login}" method="post">
    <div th:if="${param.error != null}">
        <p>
            Invalid username and password.
        </p>
    </div>
    <div th:if="${param.logout != null}">
        <p>
            You have been logged out.
        </p>
    </div>
    <table>
        <tr>
            <td><label th:text="Username" /></td>
            <td><input class="w3-input" name="username" id="username" type="text" minlength="4" required autofocus placeholder="Username"></td>
        </tr>
        <tr>
            <td><label th:text="Password" /></td>
            <td><input class="w3-input" name="password" id="password" type="password" minlength="4" required placeholder="Password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Log in"/>
            </td>
        </tr>
    </table>
</form>
<hr>
 Have no account? <a th:href="@{/registration}">Create new</a><br>
<hr>
<footer class="footr" th:insert="components/footer.html"></footer>
</body>
</html>