<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
<header th:insert="components :: header"></header>
<hr>
<h3>Login Page</h3>
<div th:text = "${loginMessage}"></div><br>
<form action="#" th:action="@{/confirmLogin}" th:object="${tempUser}" method="post">
    <table>
        <tr>
            <td><label th:text="Email" /></td>
            <td><input type="email" minlength="6" th:field="*{email}" required></td>
        </tr>
        <tr>
            <td><label th:text="Password" /></td>
            <td><input type="password" minlength="4" th:field="*{password}" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login"/>
            </td>
        </tr>
    </table>
</form>
<hr>
 Have no account? <a th:href="@{/registration}">Create new</a><br>
<hr>
<footer th:insert="components :: footer"></footer>
</body>
</html>