<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Lot List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center" th:text="#{activeAuc.aucInformation}"></h3>
<div class="w3-theme-d3">
<table class="w3-table">
    <tr>
        <td class="w3-center"><b th:text="'ID  ' + ${auction.getAuction().getID()}"></b></td>
        <td class="w3-center"><b th:text="'Start time  ' + ${auction.getAuction().getBeginTime()}"></b></td>
        <td class="w3-center"><b th:text="'Duration (minutes)  ' + ${auction.getAuction().getMaxDuration()}"></b></td>
        <td>
<!--            <a class="w3-button w3-block w3-theme-l3" th:href="@{/{id}/unsubscribe(id=${auction.getAuction().getID()})}" >Unsubscribe</a>-->
            <form th:if="${auction.isFollowed()}" action="#" th:action="@{/{id}/unsubscribe(id=${auction.getAuction().getID()})}" method="post">
                <input class="w3-button w3-block w3-theme-l3" type="submit" th:value="#{lotList.unsubscribe}"/>
            </form>
<!--            <a class="w3-button w3-block w3-theme-l3" th:href="@{/{id}/subscribe(id=${auction.getAuction().getID()})}" >Subscribe</a>-->
            <form th:unless="${auction.isFollowed()}" action="#" th:action="@{/{id}/subscribe(id=${auction.getAuction().getID()})}" method="post">
                <input class="w3-button w3-block w3-theme-l3" type="submit" th:value="#{lotList.subscribe}"/>
            </form>
        </td>
    </tr>
</table>
</div>
<hr>
<h3 class="w3-center" th:text="#{activeAuc.lotListTitle}"></h3>
<div th:replace="components/lotList.html"></div>
<br>
<div th:replace="components/lotListButtons.html"></div>
<div th:replace="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/lotsSorter.js}"></script>
</body>
</html>