<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lot List</title>
</head>
<body>
<header th:insert="components :: header"></header>
<hr>
<div th:insert="components :: loggedAsAndLogout" ></div>
<hr>
<table>
    <tr>
        <td width="100px"><b>ID</b></td>
        <td width="200px"><b>Start_time</b></td>
        <td width="150px"><b>Duration_in_minutes</b></td>
    </tr>
    <tr>
        <td width="100px" th:text="${auction.getId()}"></td>
        <td width="200px" th:text="${auction.getStart_time()}"></td>
        <td width="150px" th:text="${auction.getDurationMin()}"></td>
    </tr>
</table>

<hr>
<h3>Lot List</h3>
<hr>
<header th:insert="components :: lotList"></header>
<hr>
<div th:insert="components :: backHome"></div>
<hr>
<footer th:insert="components :: footer"></footer>
</body>
</html>