<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lot List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:replace="components/improvedHeader.html" ></div>
<h3 class="w3-center">Auction information</h3>
<div class="w3-theme-d3">
<table class="w3-table">
    <tr class="w3-row">
        <td class="w3-center w3-col" style="width:10%"><b th:text="'ID  ' + ${auction.getAuction().getID()}"></b></td>
        <td class="w3-center w3-col" style="width:30%"><b th:text="'Start time  ' + ${auction.getAuction().getBeginTime()}"></b></td>
        <td class="w3-center w3-col" style="width:30%"><b th:text="'Duration (minutes)  ' + ${auction.getAuction().getMaxDuration()}"></b></td>
        <td th:if="${auction.isFollowed()}" style="width:30%"><a class="w3-button w3-block w3-theme-l3" th:href="@{/{id}/unsubscribe(id=${auction.getAuction().getID()})}" >Unsubscribe</a></td>
        <td th:unless="${auction.isFollowed()}" style="width:30%"><a class="w3-button w3-block w3-theme-l3" th:href="@{/{id}/subscribe(id=${auction.getAuction().getID()})}" >Subscribe</a></td>
    </tr>
</table>
</div>
<hr>
<h3 class="w3-center">Lot List</h3>
<div th:replace="components/lotList.html"></div>
<br>
<div th:replace="components/lotListButtons.html"></div>
<div th:replace="components/improvedFooter.html" ></div>
</body>
</html>