<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration new user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<header class="headr" th:insert="components/header.html"></header>
<br>
<br>
<br>
<h3>Registration Page</h3>
<div th:text = "${registrationMessage}"/><br>
<form id="form" action="#" th:action="@{/confirmRegistration}" th:object="${tempUser}" method="post">
    <table>
        <tr>
            <td><label th:text="Username" /></td>
            <td><input type="text" minlength="4" placeholder="Username" th:field="*{username}" required></td>
        </tr>
        <tr>
            <td><label th:text="Email" /></td>
            <td><input type="email" minlength="6" placeholder="Email" th:field="*{email}" required></td>
        </tr>
        <tr>
            <td><label th:text="Password" /></td>
            <td><input type="password" minlength="4" placeholder="Password" th:field="*{password}" required></td>
        </tr>
        <tr>
            <td><label th:text="Confirm_Password" /></td>
            <td><input type="password" minlength="4" placeholder="Password" th:field="*{confirmPassword}" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Confirm"/>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
var form = document.getElementById("form");

form.onsubmit = function(e){
    if(document.getElementById("password").value === document.getElementById("confirmPassword").value);
    else{
        alert("Passwords not equals!");
        document.getElementById("password").focus();
        event.preventDefault();
    }
}
</script>
<hr>
<br>
<br>
<br>
<footer class="footr" th:insert="components/footer.html"></footer>
</body>
</html>