<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration new user</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >-->
    <style>
.headr {
  position: fixed; /* Относительное позиционирование */
  top: 0px; /* Положение от верхнего края */
  left: 8px; /* Положение от левого края */
  width: 100%;
  background: #f0f0f0; /* Цвет фона */
}
.footr {
  position: fixed; /* Относительное позиционирование */
  bottom: 0px; /* Положение от верхнего края */
  left: 8px; /* Положение от левого края */
  width: 100%;
  background: #f0f0f0; /* Цвет фона */
}
    </style>
</head>
<body>
<header class="headr" th:insert="components/header.html"></header>
<br>
<br>
<br>
<h3>Registration Page</h3>
<div th:text = "${registrationMessage}"/><br>
<form action="#" th:action="@{/confirmRegistration}" th:object="${tempUser}" method="post">
    <table>
        <tr>
            <td><label th:text="Username" /></td>
            <td><input type="text" minlength="4" placeholder="Username" th:field="*{username}" required></td>
        </tr>
        <tr>
            <td><label th:text="Email" /></td>
            <td><input type="email" minlength="6" placeholder="Email" th:field="*{email}" required></td>
        </tr>
        <tr>
            <td><label th:text="Password" /></td>
            <td><input type="password" minlength="4" placeholder="Password" th:field="*{password}" required></td>
        </tr>
        <tr>
            <td><label th:text="Confirm_Password" /></td>
            <td><input type="password" minlength="4" placeholder="Password" th:field="*{confirmPassword}" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Confirm"/>
            </td>
        </tr>
    </table>
</form>
<hr>
<br>
<br>
<br>
<footer class="footr" th:insert="components/footer.html"></footer>
</body>
</html>