<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body>
<header th:insert="components :: header"></header>
<hr>
<div th:insert="components :: loggedAsAndLogout" ></div>
<hr>
<h3>Congretulations!</h3>
<p th:text=${user.username}></p>
<p>You have just purchased a lot!</p>
<a href="/app/lotInfo">Lot Information</a>
<br>
<p>Thanks for visiting our Datch Auction site.</p>
<hr>
<div th:insert="components :: backHome"></div>
<hr>
<footer th:insert="components :: footer"></footer>
</body>
</html>