<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/w3-theme-blue-grey.css}" >
</head>
<body class="w3-theme">
<div th:insert="components/improvedHeader.html" ></div>
<h3 class="w3-center">User Manager</h3>
<form id="form">
<table class="w3-table">
    <tr>
        <td style="width:90%"><input class="w3-input" type="search" id="searchWords"/></td>
        <td><input class="w3-btn w3-theme-l3 w3-block" type="submit" value="Search"></td>
    </tr>
</table>
</form>
<script type="text/javascript">
var form = document.getElementById("form");

form.onsubmit = function(e){
    search();
    event.preventDefault();
}
</script>
<br>
<table class="usersTable w3-theme-d2 w3-table">
    <tr>
        <td class="usersRow w3-center" style="width:35%">username</td>
        <td class="usersRow w3-center" style="width:35%">role</td>
        <td class="usersRow w3-center" style="width:15%"></td>
        <td class="usersRow w3-center" style="width:15%"></td>
    </tr>
    <tbody class="usersTable" id="usersList">

    </tbody>
</table>
<br>
<table class="w3-table">
    <tr>
        <td class="w3-btn w3-block w3-theme-l3" style="width:45%"><button type="button" id="prevPage" th:text="#{userManager.prev}"></button></td>
        <td class="w3-center" style="width:10%" align="center" id="pageNumber">1</td>
        <td class="w3-btn w3-block w3-theme-l3" style="width:45%" ><button type="button" id="nextPage" th:text="#{userManager.next}"></button></td>
    </tr>
</table>
<div th:insert="components/improvedFooter.html" ></div>
<script th:src="@{/scripts/userManager.js}"></script>
</body>
</html>