<!--<div th:fragment="activeAucLotList">-->
<!--    <table border="1" cellspacing="0">-->
<!--        <tr>-->
<!--            <td width="5%" th:text="#{id}"></td>-->
<!--            <td width="10%" th:text="#{name}"></td>-->
<!--            <td width="5%" th:text="#{price}"></td>-->
<!--            <td width="130px"></td>-->
<!--        </tr>-->
<!--        <tbody>-->
<!--        <tr th:each="lot: ${auction.getILots()}">-->
<!--            <td width="5%" th:text="${lot.getID()}"></td>-->
<!--            <td width="10%" th:text="${lot.getName()}"></td>-->
<!--            <td width="5%" th:text="${lot.getCurrentPrice()}"></td>-->
<!--            <td width="130px"><input type="button" value="View items" th:onclick="viewItems(${lot.getID()})"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->