<div th:fragment="allLotList">
    <table class="w3-table" border="1" cellspacing="0">
        <tr>
            <td class="w3-center" style="width:18%" onclick="sortById()">ID</td>
            <td class="w3-center" style="width:30%" onclick="sortByName()">Name</td>
            <td class="w3-center" style="width:27%" onclick="sortByPrice()">Price</td>
            <td class="w3-center" style="width:10%"></td>
            <td class="w3-center" style="width:15%"></td>
        </tr>
        <tbody>
        <tr th:each="lot: ${lots}">
            <td class="w3-center" th:text="${lot.getID()}"></td>
            <td class="w3-center" th:text="${lot.getName()}"></td>
            <td class="w3-center" th:text="${lot.getCurrentPrice()}"></td>
            <td class="w3-center" ><a class="w3-theme-l3 w3-block" th:href="@{/{a_id}/{l_id}/lotInfo(a_id=${lot.getAuctionId()}, l_id=${lot.getID()})}" >View</a></td>
            <td class="w3-center" th:if="${lot.getAuctionId() != 0}"><a  class="w3-theme-l3 w3-block" th:href="@{/{a_id}/lotList(a_id=${lot.getAuctionId()})}" >To the auction</a></td>
            <td class="w3-center" th:unless="${lot.getAuctionId() != 0}">Sold</td>
        </tr>
        </tbody>
    </table>
</div>