<div class="w3-theme-d2" th:fragment="aucList">
    <table class="w3-table" border="1" cellspacing="0" width="40%">
        <tr>
            <td class="w3-center" width="18%" onclick="sortById()">ID</td>
            <td class="w3-center" width="28%" onclick="sortByTime()">Start time</td>
            <td class="w3-center" width="18%" onclick="sortByDuration()">Duration</td>
            <td class="w3-center" width="18%"></td>
            <td class="w3-center" width="18%"></td>
        </tr>
        <tbody>
<!--<<<<<<< HEAD-->
<!--        <tr th:each="auc: ${auctions}" class="aucRow">-->
<!--            <td width="28%" th:text="${auc.getAuction().getID()}"></td>-->
<!--            <td width="18%" th:text="${auc.getAuction().getBeginTime()}"></td>-->
<!--            <td width="18%" th:text="${auc.getAuction().getMaxDuration()}"></td>-->
<!--            <td width="18%">-->
<!--                <a th:if="${auc.getAuction().getStringStatus() == 'Planned'}" th:href="@{/{id}/lotList(id=${auc.getAuction().getID()})}" >View</a>-->
<!--                <a th:if="${auc.getAuction().getStringStatus() == 'Active'}" th:href="@{/{id}/join(id=${auc.getAuction().getID()})}">Join</a>-->
<!--                <a th:unless="${auc.getAuction().getStringStatus() == 'Active' || auc.getAuction().getStringStatus() == 'Planned'}" th:href="@{/{id}/makePlanned(id=${auc.getAuction().getID()})}">Make Planned</a>-->
<!--=======-->
        <tr th:each="auc: ${auctions}" class="aucRow">
            <td class="w3-center"  th:text="${auc.getAuction().getID()}"></td>
            <td class="w3-center"  th:text="${auc.getAuction().getBeginTime()}"></td>
            <td class="w3-center"  th:text="${auc.getAuction().getMaxDuration()}"></td>
            <td class="w3-center">
                <form th:if="${auc.getAuction().getStringStatus() == 'Planned'}" action="#" th:action="@{/{id}/lotList(id=${auc.getAuction().getID()})}" method="post">
                    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="View"/>
                </form>
                <form th:if="${auc.getAuction().getStringStatus() == 'Active'}" action="#" th:action="@{/{id}/join(id=${auc.getAuction().getID()})}" method="post">
                    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Join"/>
                </form>
                <form th:unless="${auc.getAuction().getStringStatus() == 'Active' || auc.getAuction().getStringStatus() == 'Planned'}" action="#" th:action="@{/{id}/makePlanned(id=${auc.getAuction().getID()})}" method="post">
                    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Make Planned"/>
                </form>
<!--                <a class="w3-theme-l3 w3-block" th:if="${auc.getAuction().getStringStatus() == 'Planned'}" th:href="@{/{id}/lotList(id=${auc.getAuction().getID()})}" >View</a>-->
<!--                <a class="w3-theme-l3 w3-block" th:if="${auc.getAuction().getStringStatus() == 'Active'}" th:href="@{/{id}/join(id=${auc.getAuction().getID()})}">Join</a>-->
<!--                <a class="w3-theme-l3 w3-block" th:unless="${auc.getAuction().getStringStatus() == 'Active' || auc.getAuction().getStringStatus() == 'Planned'}" th:href="@{/{id}/makePlanned(id=${auc.getAuction().getID()})}">Make Planned</a>-->
            </td>
            <td class="w3-center">
                <form th:if="${auc.getAuction().getStringStatus() == 'Planned' && !auc.isFollowed()}" action="#" th:action="@{/{id}/subscribe(id=${auc.getAuction().getID()})}" method="post">
                    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Subscribe"/>
                </form>
                <form th:if="${auc.getAuction().getStringStatus() == 'Planned' && auc.isFollowed()}" action="#" th:action="@{/{id}/unsubscribe(id=${auc.getAuction().getID()})}" method="post">
                    <input class="w3-btn w3-block w3-theme-l3" type="submit" value="Unsubscribe"/>
                </form>
<!--                <a class="w3-theme-l3 w3-block" th:if="${auc.getAuction().getStringStatus() == 'Planned' && !auc.isFollowed()}" th:href="@{/{id}/subscribe(id=${auc.getAuction().getID()})}" >Subscribe</a>-->
<!--                <a class="w3-theme-l3 w3-block" th:if="${auc.getAuction().getStringStatus() == 'Planned' && auc.isFollowed()}" th:href="@{/{id}/unsubscribe(id=${auc.getAuction().getID()})}" >Unsubscribe</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>