<div th:fragment="changeLocaleButton">
    <form action="#" th:action="@{/changeLocale}" method="post">
        <input type="hidden" name="lang" th:value="#{changeLocale}" />
        <table>
            <tr>
                <td>
                    <input class="w3-btn w3-theme-l3" type="submit" th:value="#{changeLocale}"/>
                </td>
                <td>
                    <label class="w3-btn w3-theme-d4 w3-disabled" th:text="#{currentLocale}"></label>
                </td>
            </tr>
        </table>
    </form>
</div>