<div th:fragment="itemList">
    <table class="w3-table w3-theme-d2" border="1" cellspacing="0" width="60%">
        <tr>
            <td class="w3-center" style="width:10%" onclick="sortById()">ID</td>
            <td class="w3-center" style="width:20%" onclick="sortByName()">Name</td>
            <td class="w3-center" style="width:50%" onclick="sortByDescription()">Description</td>
            <td class="w3-center" style="width:10%" onclick="sortByStatus()">Status</td>
            <td class="w3-center" style="width:10%">Owner</td>
        </tr>
        <tbody>
        <tr class="itemRow" th:each="item: ${items}">
            <td class="w3-center" th:text="${item.getID()}"></td>
            <td class="w3-center" th:text="${item.getName()}"></td>
            <td class="w3-center" th:text="${item.getDescription()}"></td>
            <td class="w3-center" th:text="${item.getStatus()}"></td>
            <td class="w3-center" th:text="${item.getOwner()}"></td>
        </tr>
        </tbody>
    </table>
</div>