<div class="w3-theme-d4 w3-display-container" th:fragment="loggedAsAndLogout">
    <table class="w3-table">
        <tr>
            <td width="20%" th:text="#{header.loggedAs}"></td>
            <td width="30%" th:text="${#httpServletRequest.remoteUser}"></td>
            <td class="w3-right" style="width: 25%;position: absolute;transform: translate(0%,-50%);top: 50%;">
                <div th:replace="components/changeLocaleButton.html" ></div>
            </td>
            <td class="w3-display-right" style="width: 25%">
                <div th:replace="components/logout.html" ></div>
            </td>
        </tr>
    </table>
</div>