<div th:fragment="lotList">
    <table border="1" cellspacing="0" width="40%">
        <tr>
            <td width="28%">ID</td>
            <td width="42%">Name</td>
            <td width="20%">Price</td>
            <td width="10%"></td>
            <!--      <td width="100px">Min price</td>
                  <td width="500px">Description</td>  -->
        </tr>
        <tbody>
        <tr th:each="lot: ${auction.getAuction().getILots()}">
            <td width="28%" th:text="${lot.getID()}"></td>
            <td width="42%" th:text="${lot.getName()}"></td>
            <td width="20%" th:text="${lot.getCurrentPrice()}"></td>
            <td width="10%"><a th:href="@{/{a_id}/{l_id}/lotInfo(a_id=${auction.getAuction().getID()}, l_id=${lot.getID()})}" >View</a></td>
        </tr>
        </tbody>
    </table>
</div>