<div th:fragment="lotList">
    <table class="w3-table w3-theme-d2" border="1" cellspacing="0">
        <tr>
            <td style="width:10%" class="w3-center" th:text="#{id}"></td>
            <td style="width:35%" class="w3-center" th:text="#{name}"></td>
            <td style="width:35%" class="w3-center" th:text="#{price}"></td>
            <td style="width:20%"></td>
        </tr>
        <tbody>
        <tr th:each="lot: ${auction.getAuction().getILots()}">
            <td class="w3-center" th:text="${lot.getID()}"></td>
            <td class="w3-center" th:text="${lot.getName()}"></td>
            <td class="w3-center" th:text="${lot.getCurrentPrice()}"></td>
            <td class="w3-center">
                <form action="#" th:action="@{/{a_id}/{l_id}/lotInfo(a_id=${auction.getAuction().getID()}, l_id=${lot.getID()})}" method="post">
                    <input class="w3-button w3-block w3-theme-l3" type="submit" th:value="#{allLotList.view}"/>
                </form>
<!--                <a class="w3-button w3-block w3-theme-l3" th:href="@{/{a_id}/{l_id}/lotInfo(a_id=${auction.getAuction().getID()}, l_id=${lot.getID()})}" >View</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>