<div th:fragment="purchaseList">
<!--<<<<<<< HEAD-->
<!--    <table border="1" cellspacing="0" width="50%">-->
<!--        <tr>-->
<!--            <td width="23%">ID</td>-->
<!--            <td width="16%">Price</td>-->
<!--            <td width="16%">Buyer</td>-->
<!--            <td width="16%">Seller</td>-->
<!--            <td width="20%">Seller Email</td>-->
<!--            <td width="9%"></td>-->
<!--        </tr>-->
<!--        <tbody>-->
<!--        <tr th:each="lot: ${lots.keySet()}">-->
<!--&lt;!&ndash;            <td width="23%" th:text="${lot.getLotId()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td width="16%" th:text="${lot.getPrice()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td width="16%" th:text="${lot.getBuyerUsername()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td width="16%" th:text="${lot.getSellerUsername()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td width="20%" th:text="${lot.getSellerUsername()}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td width="9%"><a th:href="@{/confirmDeal/{l_id}(l_id=${lot.getLotId()})}" onclick="alert('Done! Thanks for using our service!')" >confirm</a></td>&ndash;&gt;-->
<!--            <td width="23%" th:text="${lot.getLotId()}"></td>-->
<!--            <td width="16%" th:text="${lot.getPrice()}"></td>-->
<!--            <td width="16%" th:text="${lot.getBuyerUsername()}"></td>-->
<!--            <td width="16%" th:text="${lot.getSellerUsername()}"></td>-->
<!--            <td width="20%" th:text="${lots.get(lot)}"></td>-->
<!--            <td width="9%"><a th:href="@{/confirmDeal/{l_id}(l_id=${lot.getLotId()})}" onclick="alert('Done! Thanks for using our service!')" >confirm</a></td>-->
<!--=======-->
    <table class="w3-table w3-theme-d2" border="1" cellspacing="0" width="40%">
        <tr>
            <td class="w3-center" style="width:28%">ID</td>
            <td class="w3-center" style="width:20%">Price</td>
            <td class="w3-center" style="width:20%">Buyer</td>
            <td class="w3-center" style="width:20%">Seller</td>
            <td class="w3-center" style="width:12%"></td>
        </tr>
        <tbody>
        <tr th:each="lot: ${lots.keySet()}">
            <td class="w3-center" th:text="${lot.getLotId()}"></td>
            <td class="w3-center" th:text="${lot.getPrice()}"></td>
            <td class="w3-center" th:text="${lot.getBuyerUsername()}"></td>
            <td class="w3-center" th:text="${lot.getSellerUsername()}"></td>
            <td class="w3-center" th:text="${lots.get(lot)}"></td>
            <td class="w3-center"><a class="w3-btn w3-block w3-theme-l3" th:href="@{/confirmDeal/{l_id}(l_id=${lot.getLotId()})}" onclick="alert('Done! Thanks for using our service!')" >confirm</a></td>
        </tr>
        </tbody>
    </table>
</div>