<div th:fragment="userMenu" class="widget">
    <h3 class="widget-title">Menu</h3>
    <ul class="widget-list">
        <li><a th:href="@{/auctionList}">Auction list</a></li>
        <li><a th:href="@{/activeAuctionList}">Active auctions</a></li>
        <li><a th:href="@{/allLotList}">Lots</a></li>
        <li><a sec:authorize="hasRole('ADMIN') || hasRole('SELLER')" th:href="@{/freeItems}">Free items</a></li>
        <li><a sec:authorize="hasRole('ADMIN') || hasRole('SELLER')" th:href="@{/soldLotList}">Purchase</a></li>
        <li><a th:href="@{/followedAuctions}">Followed auctions</a></li>
    </ul>
</div>